:root{
    --bgColor1: #C7D9DD;
    --bgColor2: #F6F4F0;
    --bgColor3: #FFE6C9;
    --bgColor4: #D2665A;
    --bgColor5: #FFF0BD;
    --bgColor6: #A8CD89;

    --txtColor1: #4DA1A9;
    --txtColor2: #E52020;
    --txtColor3: #A31D1D;
    --txtColor4: #FBA518;
    --txtColor5: #399918;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#gameContainer{
    font-family: "Jersey 10", sans-serif !important;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/*Pantalla de inicio*/
#mainPantalla {
    position: relative;
    width: 800px;
    height: 600px;
    margin: 0 auto;
}

.canvas-container {
    position: relative;
    width: 800px;
    height: 600px;
}

#pantallaInicio {
    display: block;
    width: 100%;
    height: 100%;
}

/*Botones de la pantalla de inicio*/
.btns-main {
    position: absolute;
    top: 70%;
    left: 72%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    align-items: center;
    z-index: 10; /* Asegura que esté sobre el canvas */
}

.btns-main button {
    border: none;
    background-color: transparent;
    padding: 0;
}

#PlayBtn img,
#InstrBtn img,
#ScoresBtn img,
#CreditsBtn img{
    width: 200px;
    height: auto;
    transition: transform 0.3s ease;
}

#PlayBtn img:hover,
#InstrBtn img:hover,
#ScoresBtn img:hover,
#CreditsBtn img:hover{
    transform: scale(1.1);
}

/*Generalidades*/
.txt-format{
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.txt-format h1{
    font-size: 80px;
    margin: 0;
}

.txt-format h2{
    font-size: 40px;
    margin: 0;
}

.txt-format p{
    font-size: 25px;
    line-height: 1; 
    margin: 0;
}

/*Pantalla para elegir el avatar*/
#pantallaAvatar{
    background-color: var(--bgColor1);
    color: var(--txtColor1);
    height: 600px;
    width: 800px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 450px 220px;
    grid-template-rows: repeat(3, auto);

    grid-template-areas: "instrucciones  instrucciones"
                         "avatares       dropzone"
                         "botones        botones";
}

.--Ainstrucciones{
    grid-area: instrucciones;
}

#avatares{
    grid-area: avatares;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}

#avatar1,
#avatar2 {
    height: 330px;
    width: auto;
    transition: transform 0.3s ease;
}

#avatar1:hover,
#avatar2:hover {
    transform: scale(1.1);
}

#dropzone{
    height: 380px;
    grid-area: dropzone;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    background-color: var(--bgColor2);
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.2);
    border-radius: 5px;
}

.btns-avatar{
    grid-area: botones;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

#selectAvtr,
#regresarInicio{
    border: none;
    background-color: transparent;
    padding: 0;
    display: flex;
    align-items: center;
}

#regresarInicio{ 
    justify-content: left;
}

#selectAvtr{
    justify-content: right;
}

#selectAvtr img, 
#regresarInicio img{
    width: 80px;
    height: auto;
    transition: transform 0.3s ease;
}

#selectAvtr img:hover,
#regresarInicio img:hover{
    transform: scale(1.1);
}

/*Pantalla sobre el modo de juego*/
#pantallaInstrucciones{
    background-color: var(--bgColor3);
    color: var(--txtColor2);
    height: 600px;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pantallaInstrucciones .txt-format{
    width: 80%;
}

#pantallaInstrucciones .txt-format p{
    color: var(--txtColor3);
    font-size: 20px;
}

.contenido-Instrucciones{
    min-width: 750px;
    display: grid;
    grid-template-columns: auto 250px;
    justify-content: center;
    align-items: center;
}

.conteinerI{
    background-color: var(--bgColor4);
    color: white;
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.2);
    border-radius: 5px;
    height: auto;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pantallaInstrucciones .txt-format .conteinerI p{
    color: white;
    font-size: 15px;
    text-align: justify;
}

.pt2 img{
    height: 80px;
    width: auto;
}

.btns-instrucciones{
    width: 90%;
    display: flex;
    justify-content: left;
    align-items: center;
}

/*Pantalla de creditos*/
#pantallaCreditos{
    background-color: var(--bgColor5);
    color: var(--txtColor4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 600px;
}

.infoContainer{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--txtColor4);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.rafa_cami img{
    width: auto;
    height: 200px;
    border-radius: 5px;
    margin: 15px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.2);
}

.btns-creditos{
    width: 90%;
    display: flex;
    justify-content: left;
    align-items: center;
}

/* para pantalla de username*/
#pantallaUsuario{
    background-color: var(--bgColor1);
    color: var(--txtColor1);
    width: 800px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-pixel {
    border: none;
    background-color: transparent;
    padding: 0;
}

.btn-pixel img{
    width: auto;
    height: 80px;
    transition: transform 0.3s ease;
}
    
.btn-pixel:hover {
    transform: scale(1.1); 
}

.conteinerBtns{
    width: 95%;
}

#nombre{
    font-family: 'Jersey 10', sans-serif;
    font-size: 24px;
    align-content: center;
    width: 90%;
    font-size: 24px;
}

/*scores---------------------------------------------------*/
#pantallaScores {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--bgColor6);
    height: 600px;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pantallaScores h1 {
    color: var(--txtColor5);
}

.score-container {
    font-size: 20px;
    max-height: 400px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.score {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    border-collapse: separate;
    background-color: var(--bgColor2);
    text-align: center;
    table-layout: fixed;
}

.score th, .score td {
    border: 2px solid #006400;
    word-wrap: break-word;
    color: black;
}

.score thead tr th {
    background-color: #004d00;
    color: white;
    font-size: 25px;
    letter-spacing: 1px;
}

.score thead {
    padding-right: 17px;
}

.score tbody {
    display: block;
    height: 300px;
    overflow-y: auto;
    width: 100%;
}

.score thead, .score tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

/* Top 3 scores*/
.top1 { background-color: gold; color: #111; }
.top2 { background-color: silver; color: #111; }
.top3 { background-color: #cd7f32; color: #111; }

.btnScore{
    width: 95%;
    display: flex;
    justify-content: left;
    align-items: center;
}